.heading-028 {
    color: #333333;
    font-weight: 400;
    font-size: .75rem;
    letter-spacing: .04em;
    text-align: center;
}

.heading-028::before {
    display: block;
    font-weight: 700;
    font-size: 1.65rem;
    line-height: 1.5;
    letter-spacing: .02em;
    content: attr(data-label);
}
