.radio-001 {
    display: flex;
    flex-wrap: wrap;
    gap: .3em 2em;
    border: none;
    margin: 40px;
}

.radio-001 label {
    display: flex;
    align-items: center;
    gap: 0 .5em;
    position: relative;
    cursor: pointer;
}

.radio-001 label::before,
.radio-001 label:has(:checked)::after {
    border-radius: 50%;
    content: '';
}

.radio-001 label::before {
    width: 18px;
    height: 18px;
    background-color: #e6edf3;
}

.radio-001 label:has(:checked)::after {
    position: absolute;
    top: 50%;
    left: 9px;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #2589d0;
    animation: anim-radio-001 .3s linear;
}

@keyframes anim-radio-001 {
    0% {
        box-shadow: 0 0 0 1px transparent;
    }
    50% {
        box-shadow: 0 0 0 10px #2589d033;
    }
    100% {
        box-shadow: 0 0 0 10px transparent;
    }
}

.radio-001 input {
    display: none;
}
