.toggle-button-002 {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid #dddddd;
    box-sizing: content-box;
    cursor: pointer;
    transition: border-color .4s;
}

.toggle-button-002:has(:checked) {
    border-color: #4bd865;
}

.toggle-button-002::after {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #dddddd;
    content: '';
    transition: left .4s;
}

.toggle-button-002:has(:checked)::after {
    left: 50px;
    background-color: #4bd865;
}

.toggle-button-002 input {
    display: none;
}
